<!DOCTYPE html>
<html lang="en" ng-app="credise" ng-csp>
    <head>
        <meta charset="UTF-8">
        <script src="../assets/js/angular.min.js"></script>
        <script src="../assets/js/ui-bootstrap-custom-tpls-0.14.3.min.js"></script>
        <script src="../assets/js/angular-ui-router.min.js"></script>
        <script src="../assets/js/angular-sanitize.min.js"></script>
        <script src="../assets/js/ngStorage.min.js"></script>
        <script src="../assets/js/lodash.min.js"></script> 
        <script src="../scripts/app.js"></script> 
        <script src="../scripts/languages.factory.js"></script> 
    </head>
    <body ng-controller="backgroundCtrl"></body>
</html>